.column {
    flex: 1;
    margin: 1%;
}

.four-texts,
.three-texts {
    display: flex;
    justify-content: space-between;
}

.user-form {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.user-form label {
    display: flex;
    align-items: center;
}

.user-form button {
    grid-column: span 2;
    text-align: center;
}